<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"><i>ShopNow</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/grocery">Grocery</a>
                      <a class="dropdown-item" href="/mobile">Mobiles</a>
                      <a class="dropdown-item" href="/fashion">Fashion</a>
                      <a class="dropdown-item" href="/electronics">Electronics</a>
                      <a class="dropdown-item" href="#">Appliances</a>
                      
                  </li>
             
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style="background-color: aliceblue;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" width="20" height="20"></button>
              </form></ul>
              
              <div class="nav-item">
                <a class="nav-link" href="/cart"><img src="https://image.flaticon.com/icons/png/512/126/126083.png" width="30" height="30"></a>
              </div>
                
             
              <div class="nav-item"><a href="/signin"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: aliceblue;color: #000;">Sign in</button></a></div>

             
            </div>
          </nav><br><br>
          <div class="container">
            <div class="row">
                <div class="col-sm-12">
          <div class="card-deck">
           
            <div class="card">
              <img class="card-img-top" src="https://rukminim1.flixcart.com/image/312/312/jefzonk0/dslr-camera/g/v/r/eos-80d-80d-canon-original-imaf329wfqqyawwx.jpeg?q=70" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Camera</h5>
                <p class="card-text">Rs.70000</p>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://rukminim1.flixcart.com/image/200/200/jtx9evk0/router/g/g/k/d-link-dir-819-original-imaff5yhcm7fdfjr.jpeg?q=70" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Router</h5>
                <p class="card-text">Rs. 850</p>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/jrz8u4w0/power-bank/6/5/b/fast-charging-portable-bz-01-facio-original-imaes7gzsrejzyks.jpeg?q=70" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Power Bank</h5>
                  <p class="card-text">Rs. 350</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/128/128/ku5ufm80/headphone/4/z/o/curve-wireless-neckband-magnetic-earphone-with-mic-boult-audio-original-imag7cg3srkanhnk.jpeg?q=70" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Head set</h5>
                  <p class="card-text">Rs.2990</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
          </div></div></div>
          <br><br>
          <div class="row">
            <div class="col-sm-14">
          <div class="card-deck">
            
            <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/128/128/knrsjgw0/tablet/i/a/h/za8j0003in-lenovo-original-imag2dp9r7kckqmq.jpeg?q=70" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tablet</h5>
                  <p class="card-text">Rs.8000</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
            <div class="card">
              <img class="card-img-top" src="https://rukminim1.flixcart.com/image/128/128/k4a7c7k0/mouse/m/h/t/dell-ms116-wired-optical-mouse-3yrs-warranty-original-imafmktgt2hkkjd6.jpeg?q=70" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mouse</h5>
                <p class="card-text"> Rs. 199</p>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
              </div>
            </div>
          </div></div></div>
       </div>
    </body>
</html>