<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
 
</style>    
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"><i>ShopNow</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/grocery">Grocery</a>
                      <a class="dropdown-item" href="/mobile">Mobiles</a>
                      <a class="dropdown-item" href="/fashion">Fashion</a>
                      <a class="dropdown-item" href="/electronics">Electronics</a>
                      <a class="dropdown-item" href="#">Appliances</a>
                      
                  </li>
             
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: aliceblue;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" width="20" height="20"></button>
              </form></ul>
              
              <div class="nav-item">
                <a class="nav-link" href="/cart"><img src="https://image.flaticon.com/icons/png/512/126/126083.png" width="30" height="30"></a>
                
              </div>
              <div class="nav-item"><a href="/signin"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: aliceblue;color: #000;">Sign in</button></a></div>

              
            </div>
          </nav>
          <br><br>
          <div class="container">
           <div class="row">
                <div class="col-sm-12">
            <div class="card-deck">
              <div class="card" >
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/k226oi80/kurti/e/t/p/3xl-ku233-mahageeta-original-imafhhyy5k5zhhwe.jpeg?q=50" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title">Women Kurta</h5>
                  <p class="card-text">Rs.450</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/kfa0b680/kids-dress/3/f/r/2-3-years-mblack01-ftc-fashions-original-imafvrpyut87g6ns.jpeg?q=50" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Girls Wedding Dress</h5>
                  <p class="card-text">Rs.190</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/kf75fgw0-0/t-shirt/f/6/j/xxl-t325-pwgh-seven-rocks-original-imafvpbgf6nchmfj.jpeg?q=50" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Men's T-Shirt</h5>
                  <p class="card-text">Rs. 390</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/kri3xjk0/fabric/o/v/p/no-unstitched-shirt-triangle-indian-fashionista-original-imag5aatwe26yfsc.jpeg?q=50" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Shirt</h5>
                  <p class="card-text"> Rs.300</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
            </div></div></div>
            <br><br>
            <div class="row">
                <div class="col-sm-15">
            <div class="card-deck">
                <div class="card" >
                    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/kkoc70w0/shoe/8/3/e/6-rng2-blue-mcw-145-aircum-blue-original-imaf7x2ngxh2qmeh.jpeg?q=50" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Men's Shoes</h5>
                      <p class="card-text">Rs. 300</p>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                    </div></div>
                <div class="card">
                    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/k7jdg280/hand-messenger-bag/j/m/k/elegant-handbag-bel-0807bl-hand-held-bag-bellissa-original-imafpr6gn5hwpgfx.jpeg?q=50" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Hand Bag</h5>
                      <p class="card-text"> Rs. 1500</p>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/keekmfk0-0/sandal/k/2/n/b-heel-9-shoesthan-black-original-imafv2xeq5xgm9ug.jpeg?q=50" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Women's Heels</h5>
                      <p class="card-text">Rs. 259</p>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/660/792/kg8avm80-0/jean/s/p/s/9-10-years-pvgaw20je013a-provogue-original-imafwghfshxbfgdk.jpeg?q=50" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Jeans</h5>
                      <p class="card-text"> Rs.400</p>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                    </div>
                  </div>
                </div></div>
            </div>
         </div>
          </body>
          </html>