<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"><i>ShopNow</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="grocery">Grocery</a>
                      <a class="dropdown-item" href="mobile">Mobiles</a>
                      <a class="dropdown-item" href="#">Fashion</a>
                      <a class="dropdown-item" href="electronics">Electronics</a>
                      <a class="dropdown-item" href="#">Appliances</a>
                      
                  </li>
             
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: aliceblue;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" width="20" height="20"></button>
              </form></ul>
              
              <div class="nav-item">
                <a class="nav-link" href="/cart"><img src="https://image.flaticon.com/icons/png/512/126/126083.png" width="30" height="30"></a>
                </div>
             
              <div class="nav-item"><a href="/signin"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: aliceblue;color: #000;">Sign in</button></a></div>

             
            </div>
          </nav><br><br>
          <div class="container">
           <div class="row">
                <div class="col-sm-12">
            <div class="card-deck">
              <div class="card" >
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/280/280/kk5rgy80/nut-dry-fruit/r/l/c/w450-whole-pouch-kalbavi-original-imafzkhuukgfhftx.jpeg?q=70" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title">Cashews</h5>
                  <p class="card-text">Rs.370</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/280/280/kpwybgw0/spice-masala/c/c/q/chilli-powder-pouch-aashirvaad-powder-original-imag4fhf8w4qnyxs.jpeg?q=70" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chilli Powder</h5>
                  <p class="card-text">Rs.150</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/280/280/kixgtjk0/flour/p/d/d/5-whole-wheat-flour-chakki-atta-1-whole-wheat-flour-organic-original-imafym8z7qxtdfvz.jpeg?q=70" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Wheat flour</h5>
                  <p class="card-text">Rs. 210</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/280/280/kw2fki80/chips/v/1/b/-original-imag8ttqshwkggdc.jpeg?q=70" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lay's Potato chips</h5>
                  <p class="card-text">Rs. 25</p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                </div>
              </div>
              
            </div></div></div>
            <br><br>
            <div class="row">
                <div class="col-sm-15">
            <div class="card-deck">
                <div class="card" >
                    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/280/280/jay8xow0/edible-oil/y/u/h/1-refined-pouch-sunflower-oil-freedom-original-imafyeycdfnbn2ag.jpeg?q=70" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sunflower Oil</h5>
                      <p class="card-text">Rs. 140</p>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                    </div></div>
                <div class="card">
                    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/280/280/jb2j98w0/coffee/y/5/w/100-instant-coffee-plastic-bottle-bru-original-imafyg9ymghhtkhp.jpeg?q=70" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Coffee powder</h5>
                      <p class="card-text"> Rs. 150</p>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buy Now</button>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Cart</button>
                    </div>
                  </div></div></div>
            </div>
         </div>
      </body>
  </html>